<!DOCTYPE html>
<html>
<body>
	<div  style="width:700px;height:1600px;margin-top:2%;margin-left:20%;background-color:#E5E7E9">
			<table style="color:Black;font-family:arial;margin-top:2%;width:600px;margin-left:7%;background-color:white;font-size:15px">
                <td><td colspan="3"></td> Select based on project choices</td></thead>
            <tr><td>Index</td><td>Lists all available sheets to fill the variable content</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Project Settings</td><td>All project related settings need to be configured</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>QDB</td><td>Question selections for the project</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Additional Project Settings</td><td>Captures Module specific properties, driven by QDB selections</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Project Level Text Replacement</td><td>Captures text insertions and verbs specific to project, driven by QDB selections</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Brands</td><td>Add brands that appear throughout the survey</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>ActivationStatements</td><td>Statements for Activation Statements</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>ADNOW</td><td>Let you copy default text for service questions/allows to edit as required</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Agebands</td><td>Agebands & you can even define screenouts</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Brands_SelfCoding</td><td>Include additional brands to appear in the self coding list at UNAIDED AWARENESS \ UNAIDED NEEDS BASED SALIENCE \ PROMPTED NEEDS BASED SALIENCE</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>CategoryEntryPoints_NBS</td><td>Statements for Category Entry Points / Needs Based Salience(NBS)</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td><tr><td>Comms_AMP</td><td>Specify Adverts for Communications Tracking (AMP)</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Comms_BrandFluency</td><td>Specify Adverts for Brand Fluency (Recognition)</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>COMPETITOR_BRANDS</td><td>Competitor Brands referred in Comms Fluency</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Connect</td><td>Specify Filter variable details for CONNECT Module, referred during the deliverables stage</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>CrossMedia</td><td>List down regions if applicable for cross media</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>DET</td><td>Specify Apps list for DET section</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>IA_TARGET_WORDS</td><td>Target words for Institutive Association Section</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Imagery</td><td>Statements to appear at Imagery question</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>MarketFactors</td><td>Specify statements for Market Factors</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>NeedScope</td><td>Choose sector to populate standard attributes / add custom attributes for Needscope section</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>OccupationalScreener</td><td>list to appear at Occupation screener question with screenouts</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>Quota</td><td>	</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
            <tr><td>TBCA_Media</td><td>Media channels/images for TBCA section</td><td><input name="clk3" class="myinput large" type="Checkbox" style="border:12px"> </td></tr>
	</div>
   </div>
</body>
<style>
                .myinput.large {
                  height: 18px;
                  width: 17px;
                }

                table tr td{
                    padding: 0px;
                    border: 1px solid #ccc;
                    text-align: left;
                    font-size: 14px;
                    height:18px;
                    }

</style>
</html>