
      <div id="qdb" class="tab-pane fade"  style="background-color:#FBFCFC;width:1300px;height:1200px;margin-top:-80%;margin-left:240px;padding: 10px;box-shadow: 1px 1px 1px 1px black;">
        <h1 STYLE="color:black"><center>QDB Selection</center></h1>
		<br>
		<table style="border:1px;width:350px;margin-left:2%;">
			<thead>
				  <tr>
					<th href="#qdb1" data-toggle="collapse" colspan="3">SCREENER</th>
				  </tr>
			</thead>
					<div class="tab-pane fade" id="qdb1">
				  <tr><td>Occupational Screener</td><td>OPTIONAL</td><td><input type="CheckBox" checked> </input></td></tr>
				  <tr><td>Gender</td><td>OPTIONAL</td><td><input style="width:160px;height:80px" type="CheckBox"> </input></td></tr>
				  <tr><td>Gender Inclusive</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Exact Age</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Age bands</td><td>DEFAULT</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Category Introduction</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Chief Shopper (FMCG)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Chief Shopper (Non-FMCG)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Category Usage</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr></div>
			<thead>
				  <tr>
					<th colspan="3">CUSTOMER TYPOLOGY \ CATEGORY EVALUATION</th>
				  </tr>
			</thead>
				  <tr><td><b>CUSTOMER TYPOLOGY</b></td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Customer Typology (Retail or Services)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Customer Typology (Standard)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td><b>CATEGORY EVALUATION</b></td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Category Satisfaction</td><td>DEFAULT</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Category Importance</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Category Difference</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>

			<thead>
				  <tr>
					<th colspan="3">UNAIDED AWARENESS \ UNAIDED NEEDS BASED SALIENCE \ PROMPTED NEEDS BASED SALIENCE</th>
				  </tr>
			</thead>
				  <tr><td>Unaided Brand Awareness</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Unaided Brand Awareness Full Brand Name</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Unaided Needs Based Salience</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Unaided Needs Based Salience Full Brand Name</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Prompted Needs Based Salience</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Prompted Needs Based Salience Full Brand Name</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
			<thead>
				  <tr>
					<th colspan="3">FAMILIARITY</th>
				  </tr>
			</thead>
				  <tr><td>Familiarity (With Time Dimension)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Familiarity (Long Term Purchase/Services)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td> Familiarity (Standard)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
			<thead>
				  <tr><th colspan="3">BEHAVIOURAL KPIS</th></tr>
			</thead>
				  <tr><td>Consideration</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
			<thead>
				  <tr><th colspan="3">  MARKET SHARE</th></tr>
			</thead>
				  <tr><td>Last 10 Purchases</td><td>DEFAULT</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Market Share - Last 10</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Market Share - Actual Spend</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Market Share - Share of Spend</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Brand Bought Last</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Category Entry Points</td><td>RECOMMENDED</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>NPS Likelihood to Recommend (7 point version)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Net Promoter/Likelihood to Recommend (11 point scale)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>


			<thead>
				  <tr><th colspan="3">MDF (7 POINT VERSIONS)</th></tr>
			</thead>
				  <tr><td>Affinity (7 point version)</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Unique (7 point version)</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Meets Needs (7 point version)</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Dynamic (7 point version)</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Price (7 point version)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
				  <tr><td>Worth</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
	   <thead>
		<tr><th colspan="3">BRAND PERCEPTION KPIs</th></tr>
	   </thead>
		<tr><td>Brand Impressions</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>Imagery</td>	<td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>Brand Purpose/Ideals</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
	   <thead>
		<tr><th colspan="3">TBCA</th></tr>
	   </thead>
		<tr><td>  TBCA (Old Version)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  TBCA (New Version)</td>	<td>RECOMMENDED</td><td><input type="CheckBox"> </input></td></tr>
	   <thead>
		<tr><th colspan="3">AD MESSAGE \ DISTRIBUTION \ BRAND REVIEW \ ACTIVATION</th></tr>
	   </thead>

		<tr><td>Ad Messaging</td><td>RECOMMENDED</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  Distribution (Generic Version)</td>	<td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  Distribution (Channel Version)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  Brand Review</td>	<td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  Activation (Long Term)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  Activation (FMCG)</td>	<td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>

		</table>
		<table border="2" style="width:350px;margin-left:66%;margin-top:-62.7%">


	   <thead>
		<tr><th colspan="3">PERSONALITY \ CHARACTERZ</th></tr>
	   </thead>
		<tr><td>  Brand Personality</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  CharacterZ</td>	<td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>

	   <thead>
		<tr><th colspan="3">CHIEF SHOPPER (CLASSIFICATION)</th></tr>
	   </thead>
		<tr><td>  Chief Shopper (FMCG) Classification</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  Chief Shopper (Non-FMCG) Classification</td>	<td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>


	   <thead>
		<tr><th colspan="3">CONNECT MODULE</th></tr>
	   </thead>
		<tr><td>  Connect - Standard</td><td>NOT APPLICABLE</td><td><input type="CheckBox"> </input></td></tr>

	   <thead>
		<tr><th colspan="3">ADNOW MODULE</th></tr>
	   </thead>
		<tr><td>  Spine ADNOW Flag</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  Recent Media Exposure/td><td>RECOMMENDED</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>  In-Market Core Module (Recognition, TBCA Check, Wear-out)</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>

	   <thead>
		<tr><th colspan="3">  IN-MARKET DIAGNOSTICS ADD-ON</th></tr>
	   </thead>
		<tr><td>    Ad Location</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>    Misattribution</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>    New Information</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
	   <thead>
		<tr><th colspan="3">  CREATIVE EVALUATION ADD-ON</th></tr>
	   </thead>
		<tr><td>    Complete module</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>    Choose one among Engagement, Association, and Predisposition</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
	   <thead>
		<tr><th colspan="3">    CREATIVE EVALUATION SECTIONS</th></tr>
	   </thead>
		<tr><td>      Engagement (Enjoyment, Active Involvement, Likeability, Branding)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>      Association (Message Check)</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
	   <thead>
		<tr><th colspan="3">      BRAND PREDISPOSITION</th></tr>
	   </thead>
		<tr><td>PERSUASION</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>FMCG/Retail Variant</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>Long Term Purchase Variant</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>Services Purchase Variant</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>LIKELIHOOD TO ACTION</td><td>OPTIONAL</td><td><input type="CheckBox"> </input></td></tr>
		<tr><td>Likelihood to Action</td><td>MANDATORY</td><td><input type="CheckBox"> </input></td></tr>
		</table>
		<br>
	   <div class="input-group mb-3 group-end"><center>
            <a data-toggle="pill" href="#ProjectSettings"class="btn btn-danger btnPrevious" style="margin-left:650px"> << Previous</a>
            <a data-toggle="pill" href="#additional_Project_Settings" class="btn btn-success btnNext" style="margin-left:10px">Next >></a></center>
       </div>

	  </div>
