 <div id="adnow_other" class="tab-pane" style="margin-left:0%;margin-top:1%;">
     <div style="background-color:white;margin-top:1%;width:1100px;margin-left:10%;height:440px;padding: 10px;border: 2px solid #305A72;box-shadow: 1px 1px 15px black">
	    <h3 style="margin-left:10%">Ad NOW - OTHER Properties</h3>
        <table style="margin-left:40px;border:0">
			<thead>
            	  <tr style="height:30px">
					<th style="width:35px;width:50px;font-size:14px"> &nbspIndex</th>
					<th style="width:30px;width:150px;font-size:14px">&nbsp&nbsp&nbsp&nbsp&nbspProperty</th>
					<th style="width:30px;width:250px;font-size:14px">Group</th>
					<th style="width:30px;width:250px;font-size:14px">Type In English</th>
					<th style="width:30px;width:250px;font-size:14px">English (United Kingdom)</th>
         		  </tr>
			</thead>


            <td><td>
				  {% for x,valx,valy in adother %}
			<tr>
				<td><input type="text" style="height:30px;width:50px;font-size:12px" name="Adnow_Sn_No_{{ x }}"  value = {{ x }} disabled> </td>
                <td><input type = "text" name = "adother_prop_" {{ x }}" style="height:30px;width:160px;font-size:12px" placeholder={{ valx }}></td>
				<td><input type = "text" name = "adother_group_" {{ x }}" style="height:30px;width:270px;font-size:12px"  placeholder={{ valy }}></td>
				<td><input type = "text" name = "adother_eng_" {{ x }}" style="height:30px;width:270px;font-size:12px"></td>
				<td><input type = "text" name = "adother_ukeng_" {{ x }}" style="height:30px;width:270px;font-size:12px"></td>
			</tr>
					{% endfor %}

           </table><br>

				<div class="pagination-wrapper" style="margin-top:3%">
			  <center><div class="pagination">
				<a data-toggle="pill"  href="#adnow_ads">&laquo;</a>
				<a data-toggle="pill"  href="#AdMessaging">7</a>
				<a data-toggle="pill"  class="active" style="font-size:28px;width:40px;margin-top:-10px;margin-bottom:-10px" href="#agebands">8</a>
				<a data-toggle="pill"  href="#menu2">9</a>
				<a data-toggle="pill"  href="#menu2">10</a>
				<a data-toggle="pill"  href="#menu2">11</a>
				<a data-toggle="pill"  href="#menu2">12</a>
			   <a data-toggle="pill"   href="#menu2">&raquo;</a>
			  </center></div>
	 </div>
 	</div>
