 <div id="brands" class="tab-pane fade" style="width:1530px;margin-left:1%;">
    <div style="background-color:white;width:1450px;margin-left:40px;height:1000px;padding: 10px;border: 2px solid #305A72;box-shadow: 1px 1px 10px black">
       <p style="margin-left:40px">Minimum 2 - Maximum 32 brands (To remain mobile friendly recommend no more than 8)
                                    Brand names cannot exceed 50 characters (in any language)
                                    Need minimum of 3 brands to conduct the NeedScope Module</p>
          <table style="width:1390px;margin-left:-.5px">
			<thead>
				  <center><tr>
					<th style="width:50px"> &nbspIndex</th>
					<th style="width:135px">Type in - English Default</th>
					<th style="width:115px" colspan="1">"Q058 - Ad Messaging Brands (Select min. 2 brands)"</th>
					<th style="width:115px" colspan="1">"Q056 - TBCA follow up brands (Select atleast 1 brand)"</th>
                    <th style="width:115px" colspan="1">"DBA Brands (Select brands required for DBA, feasibility checks must have been completed)"</th>
                    <th style="width:115px" colspan="1">"Brand to display when dashboard first opened (Select one brand only)"</th>
                    <th style="width:115px" colspan="1">"NPS (Select that qualify for NPS)"</th>
                    <th style="width:115px" colspan="1">"English (United Kingdom) "</th>
                    <th style="width:155px" colspan="1"><input style="background-color:#AED6F1;border:0px;width:160px;font-size:14px" disabled type="text" id="br_lang2a" ></center></th>
                    <th style="width:115px" colspan="1">"English (United Kingdom) "</th>
                    <th style="width:155px" colspan="1"><input style="background-color:#AED6F1;border:0px;width:160px;font-size:14px" disabled type="text" id="br_lang2b" ></center></th>
  				  </tr></center>
			</thead>
               {% for i in loop_times %}
                 {% if i <= 32 %}
    			  <tr>
                      <td><input type="text" name="Sn_No_{{ i}}" class="BoxField_{{ i}}"  value = {{ i }} style="width:50px"  DISABLED /></td>
                      <td><input type="text" style="width:135px" id="Brand_{{ i}}" name="Brand_{{ i}}" class="BrandField"  placeholder="Type Brands"></td>
                      <td><input type="text" style="width:115px" name="Q00_58_{{ i}}" class="BoxField_{{ i}}"  placeholder=""></td>
                      <td><input type="text" style="width:115px" name="Q00_56_{{ i}}" class="BoxField_{{ i}}"  placeholder=""></td>
                      <td><input type="text" style="width:115px" name="DBA_{{ i}}" class="BoxField_{{ i}}"> </td>
                      <td><input type="text" style="width:115px" name="Dash_brand_{{ i}}" class="BoxField_{{ i}}" > </td>
                      <td><input type="text" style="width:115px" name="NPS_{{ i}}" class="BoxField_{{ i}}">  </td>
                      <td><input type="text" style="width:115px" name="ENU_{{ i}}" class="BoxField_{{ i}}">  </td>
                      <td><input type="text" style="width:155px" name="SPA_{{ i}}" class="BoxField_{{ i}}">  </td>
                      <td><input type="text" style="width:115px" name="media_ENU_{{ i}}" class="BoxField_{{ i}}">  </td>
                      <td><input type="text" style="width:155px" name="media_SPA_{{ i}}" class="BoxField_{{ i}}">  </td>
                  </tr>
                 {% endif %}
               {% endfor %}
           </table>
 </div>


				<div class="pagination-wrapper" style="margin-top:1%">
			  <center><div class="pagination">
				<a data-toggle="pill"  href="#menu2">&laquo;</a>
				<a data-toggle="pill"  href="#ProjectSettings">1</a>
				<a data-toggle="pill"  href="#qdb">2</a>
				<a data-toggle="pill"  href="#additional_Project_Settings">3</a>
				<a data-toggle="pill"  href="#ProjectTextReplacement">4</a>
				<a data-toggle="pill"  class="active" style="font-size:28px;width:40px;margin-top:-10px;margin-bottom:-10px" href="#brands">5</a>
				<a data-toggle="pill"  href="#adnow_ads">6</a>
			   <a data-toggle="pill"   href="#AdMessaging">&raquo;</a>
			  </center></div>
 </div>


<style>

    .BoxField
    {
        width:130px;height:25px;font-size:13px
    }


    .BrandField
    {
        width:160px;height:25px;font-size:13px;font-weight:bold;
    }
</style>
