
 <div id="Det_DP" class="tab-pane fade" style="margin-left:1%;margin-top:3%;">
     <div style="background-color:white;width:1200px;margin-left:10%;height:460px;padding: 10px;border:2px solid #305A72;box-shadow: 1px 1px 15px black">
	    <h4 style="color:black;font-weight:BOLD"><center>This information is required for GDC DP team</h4>
        <table style="width:1100px;margin-left:40px;border:10px">
                  <tr>
                    <td name="DetDP_1" style="background-color:lightgray;height:180px;width:250px" disabled> <b>On target smartphone population :" </td>
                      <td><input type="text" name="DetDP_2" style="height:180px;width:250px"> </td>
                      <b><td style="background-color:lightgray;height:180px;width:600px" disabled class="BoxField">This can be sourced before the campaign ends (at time of completing this sheet). This is an input needed to run the PME calculations (only needs to be sourced once). "On target" means this is a population figure (in that market) related specifically to the primary target audience of the digital advertising </td>
                  </tr>
                   <tr>
                      <td name="DetDP_1" style="background-color:lightgray;height:180px;width:250px;" disabled><b>Definition of audience for sub analysis:
                      </td>
                      <td><input type="text" name="DetDP_2" style="height:180px;width:250px" placeholder="E.g. age 25-34, male, existing users"  > </td>
                      <b><td style="background-color:lightgray;height:180px;width:600px" class="BoxField" disabled> "By default DET will include results for the overall tracker profile. <br> However, standard DET prices also includes analysis of one sub-group <br>  of interest to the client. If you would like to analyse on a <br> sub-group of the tracker profile (base sizes allowing), <br> please enter the audience definition in this field. This can be a <br> combination of demographics and survey variables <br> (e.g. 25-34, males, existing users). If this sub-group <br> definition changes in subsequent reporting periods <br> you will need to let the DP team know in advance of data being prepared."</td>
                  </tr>

           </table><br>


	  		  <p style="float:right;margin-top;3%"> Form <b>4</b> out of <b>35</b> </p>

				<div class="pagination-wrapper" style="margin-top:3%">
			  <center><div class="pagination">
				<a data-toggle="pill"  href="#menu2">&laquo;</a>
				<a data-toggle="pill"  href="#ProjectSettings">1</a>
				<a data-toggle="pill"  href="#qdb">2</a>
				<a data-toggle="pill"  href="#additional_Project_Settings">3</a>
				<a data-toggle="pill"  class="active" style="font-size:28px;width:40px;margin-top:-10px;margin-bottom:-10px" href="#ProjectTextReplacement">4</a>
				<a data-toggle="pill"  href="#brands">5</a>
				<a data-toggle="pill"  href="#adnow_ads">6</a>
			   <a data-toggle="pill"   href="#AdMessaging">&raquo;</a>
			  </center></div>
 	</div>
	 </div>
