
 <div id="marketfactor" class="tab-pane fade" style="margin-left:1%;margin-top:1%;">
     <div style="background-color:white;width:1290px;margin-left:5%;height:1420px;padding: 10px;border:2px solid #305A72;box-shadow: 1px 1px 15px black">
	    <h4 style="width:1020px;color:black;font-weight:BOLD"><center>Market Factors</h4>
		 <p style="margin-left:5% ">Max upto 40 Statements</p>
        <table style="width:950px;margin-left:40px;border:1px">
			<thead>

            	  <tr>
					<th style="width:50px;height:40px;font-size:14px"></th>
					<th colspan="3" style="width:300px;font-size:14px"><center>Standard Labels and it's attributes (if any)</th>
					<th colspan="2" style="height:30px;width:100px;font-size:14px">Label to be shown in the script for each language</th>
    	 		  </tr>

            	  <tr>
					<th style="width:50px;height:40px;font-size:14px"> &nbspIndex</th>
					<th style="width:300px;font-size:14px"><center>Type in - English Default</th>
					<th style="width:100px;font-size:14px"><center>Market Factor</th>
    				<th style="width:300px;font-size:14px"><center>Dashboard label for statement (Limit 50 characters)</th>
    				<th style="width:200px;font-size:14px"><center>English <br>(United Kingdom)</th>
    				<th style="width:200px;font-size:14px"><center> Local </center></th>
         		  </tr>
			</thead>

               {% for i in loop_times %}
    			  {% if i <= 40 %}
                    <tr>
                      <td><input type="text" name="Sn_No_{{ i}}" class="BoxField_{{ i }}"  value = {{ i }} style="width:50px" disabled/></td>
                      <td><input type="text" style="width:300px" id="CBF_type_{{ i }}" name="Brand_{{ i }}" class="BrandField" </td>
   		 	 			<td><select class="form-input" style="width: 120px;padding: 4px;height:20px;font-size:10px;border-radius:5px">
							{% for t in marketfactor %}
								<option value="{{ t }}">{{ t }}</option>
							{% endfor %}
						</select></td>
		                   <td><input type="text" style="width:300px" name="CBF_camp_ad_{{ i }}" class="BoxField"  placeholder=""</td>
                      <td><input type="text" style="width:200px" name="CBF_eng_{{ i }}" class="BoxField"  placeholder=""</td>
                      <td><input type="text" style="width:200px" name="CBF_eng_{{ i }}" class="BoxField"  placeholder=""</td>
                  </tr>
                 {% endif %}
               {% endfor %}
           </table><br>


	  		  <p style="float:right;margin-top;1%"> Form <b>4</b> out of <b>35</b> </p>

				<div class="pagination-wrapper" style="margin-top:3%">
			  <center><div class="pagination">
				<a data-toggle="pill"  href="#menu2">&laquo;</a>
				<a data-toggle="pill"  href="#ProjectSettings">1</a>
				<a data-toggle="pill"  href="#qdb">2</a>
				<a data-toggle="pill"  href="#additional_Project_Settings">3</a>
				<a data-toggle="pill"  class="active" style="font-size:28px;width:40px;margin-top:-10px;margin-bottom:-10px" href="#ProjectTextReplacement">4</a>
				<a data-toggle="pill"  href="#brands">5</a>
				<a data-toggle="pill"  href="#adnow_ads">6</a>
			   <a data-toggle="pill"   href="#AdMessaging">&raquo;</a>
			  </center></div>
	 	</div>
	 </div>
